html, body, form, img, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, b, u, i, p, em, td, th, input, textarea, label, select, iframe{
	font-family:'Microsoft Yahei',"宋体","Arial Narrow",HELVETICA;
	font-size:12px;
	color:#333;
	padding:0;
	margin:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#666;
}
body{
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0;
}
.clear{
	clear: both;
}
/*---------------------------头部-------------------------*/
.ch{
	/*height: 90px;*/
}
.head{
	width: 100%;
	background: #fff;
	height: 89px;
	line-height: 89px;
	position: fixed;
	border-bottom: 1px solid #F5F5F5;
	top: 0px;
	left: 0px;
	z-index: 7999;
	/*overflow: hidden;*/
}
.clear_both{
	height: 89px;
}
.head_main{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
}
.head_logo{
	float:left;
	margin-top:20px;
	margin-right:25px;
}
.head_logo img{
	width: 189px;
	height: 47px;
}
/*-------------------------中间复杂部分------------------*/
.head_nav{
	float: left;
}
.nav{
	float: left;
	margin-right: 5px;
	font-size: 14px;
	color: #8A929F;
	padding-right: 10px;
	position: relative;
	margin-right: 15px;
}
.nav a{
	height: 89px;
	
}
.nav>a{
	color:#8A929F ;
}
.jiao{
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top:4px solid silver;
	position: absolute;
	top: 49%;
	right: -2px;
	
}
/*----------------------------右边头像logio-----------------*/
.login1{
	float: right;
	margin-top: 25px;
	line-height: 26px;
	padding: 0 5px;
	margin-left: 20px;
	position: relative;
	height: 45px;
}
.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: 35px;
	z-index: 65;
	left: 16px;
	margin-left: -11px;
}
.login_s{
	width: 176px;
	position: absolute;
	background: #fff;
	border: 1px solid #CECECE;
	left: -140px;
	top: 45px;
	z-index: 55;
	padding-bottom: 10px;
}
.login_s img{
	float: left;
	width: 40px;
	padding: 15px 10px 15px 20px;
}
.login_s h3{
	line-height: 70px;
	font-size: 1.17em;
	font-weight: 500;
}
.login_s ul li{
	width: 136px;
	margin: 0 auto;
	line-height: 36px;
	border-top: 1px solid #ddd;
	font-size: 14px;
}
.ico_s_yin{
	display: none;
}
.login1:hover .ico_s_yin{
	display: block!important;
}
/*-------------------头像旁边的搜索框部分-----------------------*/
.head_find{
	float: right;
	width: 170px;
	height: 30px;
	border: 1px solid #e6e7e8;
	margin-top: 28px;
	position: relative;
}
.head_find input{
	width: 130px;
	float: left;
	border: 0px solid white;
	height: 30px;
	color: #454545;
	font-size: 12px;
	padding-left: 12px;
	line-height: 30px;
}
.input2{
	padding: 0;
	border: none;
	position: absolute;
	right: 8px;
	top: -24px;
}
/*-----------------------------------隐藏的灵感弹窗----------*/
#gallery{
	width: 200px;
	position: absolute;
	background: #FFF;
	border: 0px solid #CECECE;
	border-bottom: 0;
	top: 88px;
	left: 413px;
}
#gallery>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#gallery ul{
	border: 1px solid #E8ECF5;
	border-bottom: none;
}
#gallery ul li{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8ecf5;
	
}
/*--------------------------专题的隐藏窗口-------------------*/
#zhuanti{
	width: 200px;
	position: absolute;
	background: #FFF;
	border: 1px solid #CECECE;
	border-bottom: 0;
	top: 88px;
	left: 354px;
	z-index: 55555;
}
#zhuanti>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#gallery ul{
	border: 1px solid #E8ECF5;
	border-bottom: none;
}
#zhuanti ul li{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8ecf5;
	
}
/*------------------------------------专栏的隐藏窗口------------------*/
#zhuanlan{
	width: 200px;
	position: absolute;
	background: #FFF;
	border: 1px solid #CECECE;
	border-bottom: 0;
	top: 88px;
	left: 295px;
}
#zhuanlan>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#zhuanlan ul{
	border: 1px solid #E8ECF5;
	border-bottom: none;
}
#zhuanlan ul li{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8ecf5;
	
}
/*------------------------特色频道的隐藏窗口----------------------*/
#tspd{
	width: 300px;
	position: absolute;
	background: #fff;
	border: 1px solid #CECECE;
	top: 88px;
	left: 175px;
}
#tspd>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#tspd ul li{
	height: 92px;
	border: 1px solid #e8ecf5;
	overflow: hidden;
}
.tspd_ul_li_a1{
	display: block;
	background: url(../images/icon_dropmenu_pinpx.gif) no-repeat 40px 5px;
	padding-left: 110px;
	font-size: 18px;
	line-height: 24px;
	color: #C5C5C5;
	margin-top: 25px;
	height: 48px;	
}
.tspd_ul_li_a1 span{
	font-weight: bold;
	letter-spacing: 3px;
}
.tspd_ul_li_a1 small{
	display: block;
	font-size: 14px;
	letter-spacing: 5px;
}
.tspd_ul_li_a2{
	display: block;
	background: url(../images/icon_dropmenu_stream.gif) no-repeat 40px 5px;
	padding-left: 110px;
	font-size: 18px;
	line-height: 24px;
	color: #C5C5C5;
	margin-top: 25px;
	height: 48px;	
}
.tspd_ul_li_a2 span{
	font-weight: bold;
	letter-spacing: 3px;
}
.tspd_ul_li_a2 small{
	display: block;
	font-size: 14px;
	letter-spacing: 5px;
}
.tspd_ul_li_a3{
	display: block;
	background: url(../images/icon_dropmenu_pinpx.gif) no-repeat 40px 5px;
	padding-left: 110px;
	font-size: 18px;
	line-height: 24px;
	color: #C5C5C5;
	margin-top: 25px;
	height: 48px;	
}
.tspd_ul_li_a3 span{
	font-weight: bold;
	letter-spacing: 3px;
}
.tspd_ul_li_a3 small{
	display: block;
	font-size: 14px;
	letter-spacing: 5px;
}
/*-------------------------文章分类的隐藏窗口左边-------------------*/
#wzf1{
	position: absolute;
	/*left: -30px;*/
	top: 88px;
	height: 280px;
	width: 920px;
	background: #fff;
	border: 1px solid #CECECE ;
	
}
#wzf1>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 250px;
	margin-left: -11px;
}
.wzf1_hd{
	float: left;
	width: 200px;
	background: #F3F6FB;
	text-align: center;
	padding-top: 20px;
	height: 260px;
}
#wzf1_hd ul>li{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}
.wzf1_hd ul li a{
	color: #8A929D;
	display: block;
}
/*-------------------------文章分类的隐藏窗口右边-------------------*/
.wzf1_bd{
	float: left;
	width: 690px;
	padding-left: 15px;
	position: relative;
}
.wzf1_bd ul li{
	width: 230px;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.wzf1_bd ul li a{
	display: block;
	height: 145px;
}
.wzf1_bd ul li img{
	width: 210px;
	height: 132px;
	padding: 0;
	margin: 0;
	border: 0;
}
.wzf1_bd ul li h4{
	font-size: 12px;
	width: 210px;
	margin: 0 auto;
	padding-top:5px;
	line-height: 16px;
	text-align: left;
	font-weight: normal;
}
/*---------------隐藏-----------*/
.wzf1_bd_ul{
	display: none;
	position: absolute;
	top: 0;
}
#wzf1_hd_ul_yin{
	display: block;
}
/*----------------------------------隐藏的头部导航栏------------------*/
.article_head{
	height: 57px;
	background: #fff;
	border: 1px solid #EFEFEF;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;	
}
.article_head .a_logo{
	width: 200px;
	height: 57px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
.article_head .a_logo img{
	width: 189px;
	height: 47px;
}
.article_head h2{
	border-left: 1px solid #D5D8DB;
	margin-top: 20px;
	line-height: 16px;
	font-size: 16px;
	padding-left: 20px;
	color: #338ECF;
	font-weight: normal;
	float: left;
	padding-right: 30px;
	
}
.article_head h2 a{
	color: #338ecf;
}
.bar_like{
	float: left;
	margin-right: 4px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #E7ECF5;
	line-height: 25px;
	border-width: 2px;
	padding: 3px 10px;
}
.bar_like i{
	display: inline-block;
	background: url(../images/like-unactive.png) no-repeat;
	background-size: 100% auto;
	width: 24px;
	height: 24px;
	vertical-align: bottom;
	margin-right: 6px;
}
.bar_sns{
	float: left;
}
.logo_yipai a{
	float: left;
	width: 32px;
	line-height: 32px;
	height: 32px;
	background-repeat: no-repeat;
	margin: 6px 6px 6px 0;
	text-indent: -100em;
	overflow: hidden;
	color: #3A8CEB;
}
.a1{
	background-image: url(../images/icon_more.jpg);
	background-position:0 0 ;
}
.a2{
	background-image: url(../images/icon_tieba.jpg);
	background-position:0 0 ;
}
.a3{
	background-image: url(../images/icon_tsina.jpg);
	background-position:0 0 ;
}
.a4{
	background-image: url(../images/icon_weixin.jpg);
	background-position:0 0 ;
}
.a5{
	background-image: url(../images/icon_qzone.jpg);
	background-position:0 0 ;
}
.a6{
	background-image: url(../images/icon_douban.jpg);
	background-position:0 0 ;
}
.a7{
	background-image: url(../images/icon_facebook.jpg);
	background-position:0 0 ;
}
.a8{
	background-image: url(../images/icon_twitter.jpg);
	background-position:0 0 ;
}
.a9{
	background-image: url(../images/icon_evernotecn.jpg);
	background-position:0 0;
}
/*---------------------------------大图片部分--------------------*/
.banner3{
	width: 100%;
	position: relative;
	height: 450px;
	margin-top: 90px;
}
.focuspoint{
	height: 100%;
	position: relative;
	overflow: hidden;
}
.focuspoint img{
	visibility: visible;
	top:-62.2222%;
	position: absolute;
	left: 0px;
	margin: 0;
	display: block;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	max-height: none;
	max-width: none;
	
}
.banner3 .banner3_pic{
	position: absolute;
	left: 0;
	top: 50%;
	height: 474px;
	width: 100%;
	margin-top: -251px;
	overflow: hidden;
}
.article_head_cover{
	width: 100%;
	height: 100%;
	position: absolute;
	background: transparent;
	left: 0;
	top: 0;
	opacity: 0.7;
}
.banner3 .banner3_main{
	position: absolute;
	top: 230px;
	left: 48%;
	margin-left: -500px;
}
.banner3 .banner3_main .banner3_head{
	height: 30px;
	line-height: 30px;
	clear: both;
	text-align: center;
	font-size: 12px;
}
.banner3 .banner3_main .banner3_head a{
	display: block;
	width: 64px;
	height: 30px;
	color:#333;
	background: #fff;
	float: left;
	opacity: 0.2;
}
.banner3_title{
	color: #fff;
}
.banner3_title h1{
	line-height: 70px;
	font-size: 32px;
	font-weight: normal;
	color:#fff;
}
.banner3_dn{
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #BBBABA;
}
.banner3_dn span{
	padding-right: 35px;
}
/*-----------------------------主题内容的右边----------------------------*/
.pd_act{
	width: 1080px;
	margin: 0 auto;
	padding-top: 50px;
}
.pd_act .pd_right{
	width: 290px;
	overflow: hidden;
	float: right;
	margin-top: -60px;
}
.pd_act .pd_right .pd_fr_title{
	height: 24px;
	line-height: 24px;
	padding-top: 13px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E7ECF5;
}
.pd_fr_title ul li{
	float: left;
	width: 96px;
	color: #BEC5CF;
	font-size: 12px;
	position: relative;
}
.pd_fr_title ul li i{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 26px;
	top: 8px;
}

.pd_fr_qh{
	width: 288px;
	margin-top: 25px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #E1E4EB;
	border-radius: 3px;
}
.pd_fr_qh li{
	width: 96px;
	float: left;
	font-size: 12px;
	text-align: center;
}
.pd_fr_qh li a{
	display: block;
	width: 95px;
	height: 40px;
	border-right: 1px solid #E1E4EB;
	color: #474D58;
}
.pd_fr_zw{
	position: relative;
	width: 300px;
	height: 380px;
	overflow: hidden;
	margin-top: 2px;
}
.pd_fr_zw ul{
	position: absolute;
	width: 300px;
	left: 0;
	top: 0;
	display: block;
}
.pd_fr_zw .zw_1 li{
	padding-top: 12px;
	height: 62px;
	border-bottom: 1px solid #f6f6f6;
	clear: both;
	padding-right: 5px;
}
.pd_fr_zw .zw_1 li a img{
	float: left;
	padding-right: 10PX;
	width: 80px;
	height: 50px;
}
.pd_fr_zw .zw_1 li h3{
	height: 40px;
	line-height: 20px;
	font-size: 14px;
}
.pd_fr_zw .zw_1 li h3 a{
	color: #3F3F3F;
	font-weight: normal;
}
.pd_fr_zw .zw_2 li{
	padding-bottom: 10px;
	padding-top: 5px;
	padding-right: 5px;
}
.pd_fr_zw .zw_2 li img{
	width: 290px;
}
.pd_fr_zw .zw_3 .pd_r_at{
	width: 200px;
	height: 200px;
}
.pd_fr_zw .zw_3 li{
	float: left;
	width: 100px;
	height: 100px;
}
.pd_fr_zw .zw_3 li img{
	width: 90px;
	height: 90px;
}
.pd_fr_zw .zw_3 .pd_r_at img{
	width: 190px;
	height: 190px;
}
.pd_left{
	width: 707px;
	float: left;
	padding-bottom: 65px;
}
.pd_left>h3{
	border: 1px solid #E1E4EB;
	background: #F1F5FA;
	padding: 15px;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 1.17em;
}
.pd_left .pd_zw{
	width: 100%;
	font-size: 18px;
	color: #333;
	line-height: 1.8;
	letter-spacing: 0.05rem;
	word-break: break-word;
	text-align: justify;
}
.pd_left .pd_zw p{
	padding-bottom: 20px;
	font-size: 18px;
}
.pd_bq{
	width: 100%;
	height: 32px;
	padding-top: 43px;
	overflow: hidden;
}
.pd_bq ul li{
	float: left;
	padding-right: 10px;
	height: 32px;
	text-align: center;
}
.pd_bq ul li a{
	display: block;
	padding: 0px 12px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #545454;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.pd_bq ul li a:hover{
	background: #E8ECF5;
	border: 1px solid #E8ECF5;
}
.pd_mess{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.pd_mess_1{
	height: 12px;
	line-height: 12px;
	background: url(../images/pic_41.jpg);
	margin-top: 40px;
}
.pd_mess_1 a{
	padding: 0px 8px;
	font-size: 12px;
	color: #8D95A2;
	background: #fff;
}
.pd_mess_2{
	width: 30px;
	height: 45px;
	position: absolute;
	top: 46px;
	right: 0px;
	background: url(../images/pic_42.jpg);
}
.pd_mess_3{
	padding-top: 27px;
	padding-bottom: 30px;
	overflow: hidden;
	border-bottom: 1px solid #EAEDF2;
	height: 100px;
}
.pd_mess_3 img{
	float: left;
	margin-right: 20px;
	width: 100px;
	height: 100px;
}
.pd_mess_3>h3{
	font-size: 18px;
	color: #333;
	height: 30px;
	line-height: 30px;
	padding-top: 5px;
	font-weight: normal;
}
.pd_mess_3>h4{
	color: #787878;
	font-size: 12px;
}
.ys_5{
	display: none;
}
.pd_mess_4{
	padding-top: 38px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #333333;
}
.pd_mess_4 span{
	font-size: 14px;
	color: #D0D0D0;
}
.pd_mess_5{
	padding-bottom: 27px;
	overflow: hidden;
	padding-top: 10px;
}
.pd_mess_6 .input1{
	width: 99%;
	height: 112px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.pd_mess_6 .input3{
	text-align: center;
	display: inline-block;
	padding-top: 10px;
	width: 100%;
	height: 34px;
	border: 0px;
	background: #4385F5;
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
	border-radius: 3px;
}
/*-------------------------------推荐阅读-------------------------*/
.ys_9{
	width: 100%;
	overflow: hidden;
	background: #F7F7F7;
	padding-bottom: 20px;
}
.index_1m{
	width: 1080px;
	margin: 0 auto;
	height: 78px;
	line-height: 78px;
	clear: both;
}
.index_1m h2{
	font-size: 20px;
	color: #474D58;
	font-weight: bold;
}
.index_1{
	width: 1110px;
	height: 322px;
	margin: 0 auto;
	overflow: hidden;
}
.index_1 ul li{
	width: 253px;
	float: left;
	margin: 0 10px;
	border: 1px solid #f2f2f2;
	overflow: hidden;
	position: relative;
	background: white;
}
.index_1 ul li p{
	width: 253px;
	overflow: hidden;
	position: relative;
	z-index: 123;
}
.index_1 ul li img{
	width: 253px;
	height: 159px;
	border: 0;
}
.more{
	width: 100%;
	height: 100%;
	background: url(../images/z_1.png);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
p:hover .more{
	display: inline;
}
.index_1 ul li h3{
	width: 90%;
	margin: 0 auto;
	height: 72px;
	line-height: 24px;
	font-size: 16px;
	padding-top: 18px;
}
.index_1 ul li h3 a{
	color: #121212;
}
.index_1 ul li h4{
	width: 90%;
	margin: 0 auto;
	height: 40px;
	line-height: 30px;
	font-size: 12px;
}
.index_1 ul li h4 a{
	display: block;
	float: left;
	color: #CACDD2;
}
.index_1 ul li h4 .zuo i{
	width: 25px;
	height: 20px;
	margin-top: 8px;
	font-size: 18px;
	display: block;
	float: left;
	background: url(../images/QQ截图20160822193410.png) no-repeat;
}
.index_1 ul li h4 .you i{
	width: 25px;
	height: 20px;
	margin-top: 7px;
	font-size: 18px;
	display: block;
	float: left;
	background: url(../images/QQ截图20160822193432.png) no-repeat;
}
.index_1 ul li h4 span{
	display: block;
	float: right;
	color: #CACDD2;
}
.index_1 ul li h5{
	background: #fff;
	opacity: 0.2;
	font-size: 12px;
	font-weight: normal;
	width: 45px;
	line-height: 28px;
	left: 0;
	top: 0;
	position: absolute;
	text-align: center;
	color: #000;
	z-index: 124;
}
.right_box{
	width: 38px;
	height: 76px;
	text-align: center;
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 9999;
	border: 1px solid #EEEEEE;
	background: white;
}
.right_box ul li{
	width: 38px;
	height: 37px;
}
.right_box ul li a img{
	margin-top: 5px;
}
.right_box ul li h3{
	width: 132px;
	height: 120px;
	position: fixed;
	bottom: 30px;
	right: 54px;
	display: none;
}
.right_box ul li:hover h3{
	display: block;
}
/*---------------------------------底部--------------------------*/
.footer{
	width: 100%;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom: 15px;
}
.w100{
	width: 1080px;
	margin: 0 auto;
}
.footer .foot_1{
	float: left;
	padding-top: 20px;
	width: 400px;
	
}
.footer .foot_1 img{
	float: left;
	width: 189px;
	height: 47px;
}
.footer .foot_1 h2{
	line-height: 48px;
	font-size: 16px;
	color: #4C4C4C;
	font-weight: bold;
}
.footer .foot_1 h3{
	padding-left: 20px;
	font-size: 14px;
	color: #787878;
	line-height: 26px;
	font-weight: normal;
}
.footer .foot_1 h3 a{
	color:#787878;
	font-weight: normal;
}
/*-------------------------------关注微信---------------------*/
.foot_r{
	float: right;
	padding-top: 20px;
	width: 120px;
	text-align: center;
	font-size: 12px;
}
/*------------------------------战略联盟----------------------*/
.foot_c{
	float: right;
	width: 360px;
	padding-right: 100px;
	padding-top: 20px;
}
.foot_c h2{
	line-height: 48px;
	font-size: 16px;
	color: #4C4C4C;
	font-weight: bold;
}
.foot_c ul li{
	float: left;
	padding-right: 20px;
	height: 30px;
}
.foot_c ul li img{
	height: 20px;
}
/*-----------------------------------最底部--------------------------*/
.foot_s{
	border-top: 1px solid #ccc;;
	line-height: 40px;
	font-size: 14px;
	color: #787878;
	width: 1040px;
	margin: 0 auto;
}
