html, body, form, img, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, b, u, i, p, em, td, th, input, textarea, label, select, iframe{
	font-family:'Microsoft Yahei',"宋体","Arial Narrow",HELVETICA;
	font-size:12px;
	color:#333;
	padding:0;
	margin:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color:#666;
}
body{
	font-family: "微软雅黑";
	font-size: 14px;
	margin: 0;
	background: url(../images/pic_52.jpg) 50% 0% no-repeat rgb(36, 98, 135);
}
.clear{
	clear: both;
}
input{
	outline: none;
}
/*---------------------------头部-------------------------*/
.head{
	width: 100%;
	background: #fff;
	height: 89px;
	line-height: 89px;
	position: fixed;
	border-bottom: 1px solid #F5F5F5;
	top: 0px;
	left: 0px;
	z-index: 7999;
	/*overflow: hidden;*/
}
.clear_both{
	height: 89px;
}
.head_main{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
}
.head_logo{
	float:left;
	margin-top:20px;
	margin-right:25px;
}
.head_logo img{
	width: 189px;
	height: 47px;
}
/*-------------------------中间复杂部分------------------*/
.head_nav{
	float: left;
}
.nav{
	float: left;
	margin-right: 5px;
	font-size: 14px;
	color: #8A929F;
	padding-right: 10px;
	position: relative;
	margin-right: 15px;
}
.nav a{
	height: 89px;
	
}
.nav>a{
	color:#8A929F ;
}
.jiao{
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top:4px solid silver;
	position: absolute;
	top: 49%;
	right: -2px;
	
}
/*----------------------------右边头像logio-----------------*/
.login1{
	float: right;
	margin-top: 25px;
	line-height: 26px;
	padding: 0 5px;
	margin-left: 20px;
	position: relative;
	height: 45px;
}
.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: 35px;
	z-index: 65;
	left: 16px;
	margin-left: -11px;
}
.login_s{
	width: 176px;
	position: absolute;
	background: #fff;
	border: 1px solid #CECECE;
	left: -140px;
	top: 45px;
	z-index: 55;
	padding-bottom: 10px;
}
.login_s img{
	float: left;
	width: 40px;
	padding: 15px 10px 15px 20px;
}
.login_s h3{
	line-height: 70px;
	font-size: 1.17em;
	font-weight: 500;
}
.login_s ul li{
	width: 136px;
	margin: 0 auto;
	line-height: 36px;
	border-top: 1px solid #ddd;
	font-size: 14px;
}
.ico_s_yin{
	display: none;
}
.login1:hover .ico_s_yin{
	display: block!important;
}
/*-------------------头像旁边的搜索框部分-----------------------*/
.head_find{
	float: right;
	width: 170px;
	height: 30px;
	border: 1px solid #e6e7e8;
	margin-top: 28px;
	position: relative;
}
.head_find input{
	width: 130px;
	float: left;
	border: 0px solid white;
	height: 30px;
	color: #454545;
	font-size: 12px;
	padding-left: 12px;
	line-height: 30px;
}
.input2{
	padding: 0;
	border: none;
	position: absolute;
	right: 8px;
	top: -24px;
}
/*-----------------------------------隐藏的灵感弹窗----------*/
#gallery{
	width: 200px;
	position: absolute;
	background: #FFF;
	border: 0px solid #CECECE;
	border-bottom: 0;
	top: 88px;
	left: 413px;
}
#gallery>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#gallery ul{
	border: 1px solid #E8ECF5;
	border-bottom: none;
}
#gallery ul li{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8ecf5;
	
}
/*--------------------------专题的隐藏窗口-------------------*/
#zhuanti{
	width: 200px;
	position: absolute;
	background: #FFF;
	border: 1px solid #CECECE;
	border-bottom: 0;
	top: 88px;
	left: 354px;
	z-index: 55555;
}
#zhuanti>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#gallery ul{
	border: 1px solid #E8ECF5;
	border-bottom: none;
}
#zhuanti ul li{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8ecf5;
	
}
/*------------------------------------专栏的隐藏窗口------------------*/
#zhuanlan{
	width: 200px;
	position: absolute;
	background: #FFF;
	border: 1px solid #CECECE;
	border-bottom: 0;
	top: 88px;
	left: 295px;
}
#zhuanlan>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#zhuanlan ul{
	border: 1px solid #E8ECF5;
	border-bottom: none;
}
#zhuanlan ul li{
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid #e8ecf5;
	
}
/*------------------------特色频道的隐藏窗口----------------------*/
#tspd{
	width: 300px;
	position: absolute;
	background: #fff;
	border: 1px solid #CECECE;
	top: 88px;
	left: 175px;
}
#tspd>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -11px;
}
#tspd ul li{
	height: 92px;
	border: 1px solid #e8ecf5;
	overflow: hidden;
}
.tspd_ul_li_a1{
	display: block;
	background: url(../images/icon_dropmenu_pinpx.gif) no-repeat 40px 5px;
	padding-left: 110px;
	font-size: 18px;
	line-height: 24px;
	color: #C5C5C5;
	margin-top: 25px;
	height: 48px;	
}
.tspd_ul_li_a1 span{
	font-weight: bold;
	letter-spacing: 3px;
}
.tspd_ul_li_a1 small{
	display: block;
	font-size: 14px;
	letter-spacing: 5px;
}
.tspd_ul_li_a2{
	display: block;
	background: url(../images/icon_dropmenu_stream.gif) no-repeat 40px 5px;
	padding-left: 110px;
	font-size: 18px;
	line-height: 24px;
	color: #C5C5C5;
	margin-top: 25px;
	height: 48px;	
}
.tspd_ul_li_a2 span{
	font-weight: bold;
	letter-spacing: 3px;
}
.tspd_ul_li_a2 small{
	display: block;
	font-size: 14px;
	letter-spacing: 5px;
}
.tspd_ul_li_a3{
	display: block;
	background: url(../images/icon_dropmenu_pinpx.gif) no-repeat 40px 5px;
	padding-left: 110px;
	font-size: 18px;
	line-height: 24px;
	color: #C5C5C5;
	margin-top: 25px;
	height: 48px;	
}
.tspd_ul_li_a3 span{
	font-weight: bold;
	letter-spacing: 3px;
}
.tspd_ul_li_a3 small{
	display: block;
	font-size: 14px;
	letter-spacing: 5px;
}
/*-------------------------文章分类的隐藏窗口左边-------------------*/
#wzf1{
	position: absolute;
	/*left: -30px;*/
	top: 88px;
	height: 280px;
	width: 920px;
	background: #fff;
	border: 1px solid #CECECE ;
	
}
#wzf1>.ico_s{
	width: 22px;
	height: 11px;
	background: url(../images/ico_1.png) no-repeat;
	position: absolute;
	top: -11px;
	left: 250px;
	margin-left: -11px;
}
.wzf1_hd{
	float: left;
	width: 200px;
	background: #F3F6FB;
	text-align: center;
	padding-top: 20px;
	height: 260px;
}
#wzf1_hd ul>li{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}
.wzf1_hd ul li a{
	color: #8A929D;
	display: block;
}
/*-------------------------文章分类的隐藏窗口右边-------------------*/
.wzf1_bd{
	float: left;
	width: 690px;
	padding-left: 15px;
	position: relative;
}
.wzf1_bd ul li{
	width: 230px;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.wzf1_bd ul li a{
	display: block;
	height: 145px;
}
.wzf1_bd ul li img{
	width: 210px;
	height: 132px;
	padding: 0;
	margin: 0;
	border: 0;
}
.wzf1_bd ul li h4{
	font-size: 12px;
	width: 210px;
	margin: 0 auto;
	padding-top:5px;
	line-height: 16px;
	text-align: left;
	font-weight: normal;
}
/*---------------隐藏-----------*/
.wzf1_bd_ul{
	display: none;
	position: absolute;
	top: 0;
}
#wzf1_hd_ul_yin{
	display: block;
}
/*--------------------------------注册框部分-------------------------*/
.main{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 12;
}
.main .main_big{
	width: 390px;
	margin: 0 auto;
	overflow: visible;
	margin-top: 140px;
}
.main_pic1{
	height: 92px;
	line-height: 92px;
	padding-top: 66px;
	font-size: 28px;
	color: #fff;
	text-align: center;
}
.main_pic2{
	clear: both;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: url(../images/z_5.png) no-repeat;
	margin-bottom: 5px;
}
.main_pic2 h3{
	float: left;
	width: 25%;
	text-align: center;
	font-size: 16px;
	color: #333;
	background: #fff;
	border-radius: 10px 0 0 10px;
	font-weight: normal;
}
.input1{
	float: left;
	width: 70%;
	height: 50px;
	line-height: 50px;
	border: 0;
	padding: 0 0;
	color: #999;
}
.main_pic3{
	margin: 15px 0px;
	height: 46px;
	line-height: 16px;
}
.input3{
	height: 46px;
	line-height: 46px;
	width: 100%;
	background: url(../images/z_6.png) no-repeat;
	color: #fff;
	text-align: center;
	font-size: 20px;
	border: 0;
	padding: 0 0;
}
.main_pic4{
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.main_pic5{
	margin-top: 10px;
	height: 40px;
	text-align: center;
}
.main_pic5 ul li{
	float: left;
	width: 53px;
}
.main_pic6{
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #343434;
	text-align: center;
	letter-spacing: 5px;
}
.main_pic6 a{
	color: #fff;
	display: inline-block;
}
